@page
@model BookMarket.Pages.DashboardModel
@{
    ViewData["Title"] = "Bookmarket";
}

@if (Model.user.MailToken != null || Model.user.AppuntamentoRilascio != null || Model.user.AppuntamentoRitiro != null)
{
    <!--Warning bar-->
    <div class="warningBar-container">
        <form method="post">
            <h3 class="warningBar">
                @if (Model.user.MailToken != null)
                {
                    <text>
                        Attenzione, il tuo account non è stato ancora verificato, controlla la tua mail per attivarlo. (Se non trovi la mail prova a controllare la cartella "Spam"). <button style="border:none;background:none; text-decoration:underline;outline:none; color: #aaaaaa;   font-size: 12px;" type="submit">Invia di nuovo</button>
                    </text>
                }
                @if (Model.user.AppuntamentoRilascio != null && Model.user.AppuntamentoRitiro == null)
                {
                    <text>
                        Ricordati di passare @Model.user.AppuntamentoRilascio.Value.ToString("dddd, dd MMMM alle HH:mm") per portare i tuoi libri, presentandoti in ritardo rischierai di non poterli vendere!
                    </text>
                }
                @if (Model.user.AppuntamentoRitiro != null)
                {
                    <text>
                        Ricordati di passare @Model.user.AppuntamentoRitiro.Value.ToString("dddd, dd MMMM alle HH:mm") per comprare i tuoi libri, presentandoti in ritardo rischierai di non poterli prendere!
                    </text>
                }
            </h3>
        </form>

    </div>
    <style>

        .warningBar {
            color: #c6a0fc;
            text-align: center;
            margin: 0;
        }

        .warningBar-container {
            background-color: #f7f7f7;
            border-radius: 10px;
            margin: 10px;
            padding: 4px;
            font-size:20px;
            box-sizing: border-box;
        }
    </style>
}

<!--Top Bar-->

<div class="header-container">
    <!--Username-->
    <span id="home-header-username-label">@Model.user.Nome @Model.user.Cognome (@Model.user.Id)</span>
    <!--Balance-->
    @*<span class="home-header-value-label" style="margin-left:auto; margin-right:20px;">Bilancio: <span style="color:#52D165">€ @String.Format("{0:0.00}", Model.balance)</span></span>*@
    <!--Uploaded books-->
    <span style="margin-left:auto" class="home-header-value-label">Libri caricati: @Model.booksCount</span>
</div>
<!--Separator-->
<div class="header-separator"></div>


<!--Top Bar Style-->
<style>

    #home-header-username-label {
        font-size: 25px;
        font-family: DefaultB;
        color: #C6A0FC;
        text-align: center;
    }

    .home-header-value-label {
        font-size: 25px;
        font-family: DefaultSB;
        color: #A7A7A7;
        text-align: center;
    }
</style>

@if (Model.user.MailToken == null)
{
    <!--Options-->
    <div id="home-options-container">
        @if (BookMarket.Costants.Fase() == 2 || BookMarket.Costants.Fase() == 3)
        {
            <!--Cart-->
            <div class="home-option-container" onclick="window.location.href = 'basket'">
                <i class="fas fa-shopping-cart home-option-icon-label"></i>
                <span class="home-option-label">Carrello</span>
            </div>
        }
        else
        {
            <!--My books-->
            <div class="home-option-container" onclick="window.location.href = 'mybooks'">
                <i class="fas fa-book home-option-icon-label"></i>
                <span class="home-option-label">I miei libri</span>
            </div>
        }

        <partial name="_Countdown" />

    </div>
}

@*<form method="post">
        <button id="home-logout-container" type="submit">
            <div class="home-option-container" onclick="window.location.href = 'basket'">
                <i style="color:#FCA0AE !important;" class="fas fa-sign-out-alt home-option-icon-label"></i>
                <span style="color:#FCA0AE !important;" class="home-option-label">Esci</span>
            </div>
        </button>
    </form>*@


<!--Home container-->
<div id="home-main-container">
    <div id="home-widgets-horizontal-position-container">
        <div id="home-widgets-horizontal-align-container">
            <!--Upload book-->
            <div class="home-widget-container" id="home-upload-widget" onclick="uploadBookPush()">
                <div class="home-widget">
                    <i class="fas fa-plus home-widget-icon-label"></i>
                </div>
                <span class="home-widget-label">Carica libro</span>
            </div>
            <script>
                function uploadBookPush() {
                    @if (Model.user.MailToken != null)
                    {
                        <text>
                    Swal.fire({
                        icon: 'error',
                        title: 'Errore',
                        text: 'Devi verificare il tuo indirizzo mail prima di poter caricare un libro',
                    }).then(result => {
                        //Reload page
                        window.location.href = "dashboard";

                    })
                    return;
                </text>
                    }
                    window.location.href = "uploadbook";
                }
            </script>
            <!--Search book-->
            <div class="home-widget-container" id="ASDASDhome-search-widget" onclick="window.location.href = 'searchbook'">
                <div class="home-widget">
                    <i class="fas fa-search home-widget-icon-label"></i>
                </div>
                <span class="home-widget-label">Cerca libro</span>
            </div>
        </div>
    </div>
</div>

<!--Home style-->
<style>
    #home-main-container {
        width: 100vw;
        /* height: 90vh; */
        display: flex;
        align-items: center;
        margin-top: 100px;
    }

        #home-widgets-horizontal-position-container {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    #home-widgets-horizontal-align-container {
        display: flex;
        flex-direction: row;
    }

        .home-widget-container {
            display: flex;
            text-align: center;
            flex-direction: column;
            cursor: pointer;
        }

        #home-upload-widget {
            @if (BookMarket.Costants.Fase() == 2 || BookMarket.Costants.Fase() == 3)
            {
                <text> display: none;
            </text>

            }
        }

    #home-search-widget {
        @if (BookMarket.Costants.Fase() == 1 || BookMarket.Costants.Fase() == 3)
            {
                <text> display: none;
        </text>
            }
    }

        .home-widget {
            background-color: #C6A0FC;
            width: 300px;
            position: relative;
            height: 300px;
            border-radius: 50px;
            box-shadow: 12px 12px 0px 0px rgba(198,160,252,0.6);
            display: flex;
            align-items: center;
            transition-duration: 0.3s;
        }

            .home-widget:hover {
                transform: translate(5px, 5px);
                box-shadow: 5px 5px 0px 0px rgba(198,160,252,0.6);
                transition-duration: 0.3s;
            }

        .home-widget-icon-label {
            font-size: 150px;
            color: white;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .home-widget-label {
            color: #C6A0FC;
            font-size: 25px;
            font-family: DefaultSB;
            width: 300px;
            margin-top: 20px;
        }

    #home-options-container {
        display: flex;
        flex-direction: row;
        top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
        position: relative;
    }

        .home-option-container {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            align-items: center;
        }

        .home-option-icon-label {
            color: #C6A0FC;
            font-size: 25px;
        }

        .home-option-label {
            color: #C6A0FC;
            font-size: 25px;
            margin-left: 10px;
            font-family: DefaultSB;
        }

        #home-logout-container {
            position: fixed;
            display: flex;
            flex-direction: row;
            bottom: 20px;
            align-items: center;
            left: 20px;
            background-color: transparent;
            border: none;
        }
</style>

<!--Main style-->

<style>
    @@media screen and (max-width:700px) {
        .home-widget {
            width: 250px !important;
            height: 250px !important;
        }

        .home-widget-label {
            width: 250px !important;
        }
        .warningBar {
            font-size: 15px;
        }
    }

    @@media screen and (max-width:580px) {


        #home-widgets-horizontal-align-container {
            flex-direction: column !important;
        }

        #home-options-container {
            position: initial !important;
            padding: 0 10px !important;
        }

        #home-header-username-label {
            font-size: 15px !important;
        }

        .home-header-value-label {
            font-size: 15px !important;
        }
    }

    body {
        margin-bottom: 100px !important;
    }
</style>


<!--Post form-->
<script>
    $(function () {
        $('form').submit(function (e) {

            //Override normal form submission
            e.preventDefault()

            //Post form with ajax
            postForm($(this), "Una nuova mail è stata inviata con successo a " + "@Model.user.Mail", "dashboard");
        })
    })
</script>