@model List<BookMarket.Models.BookLibri>
@if (Model.Count != 0)
{
    <!--Create list-->
    @foreach (var book in Model)
    {
        <li class="search-list-element">
            <div class="search-list-element-horizontalalign">
                <button class="fas fa-times deleteButton" type="button" onclick="deleteBook(@book.Id)">  </button>
                <div class="search-list-element-left-container">
                    <div class="search-list-element-title-container">
                        <!--Title-->
                        <span class="search-list-element-title">@book.Nome</span>
                        <!--Subject-->
                        <span class="uk-badge search-list-element-subject">@book.Materia</span>
                    </div>
                    <!--Code-->
                    <span class="search-list-element-code">@book.Codice</span>
                </div>
                <div class="search-list-element-right-container">
                    <!--Price-->
                    @if (book.Prezzo != null)
                    {
                        <span class="search-list-element-price">€ @String.Format("{0:0.00}", BookMarket.Costants.CalculateUserPrice(book.Prezzo.Value))</span>
                    }
                </div>
            </div>
        </li>
    }
}
else
{
    <script>
            Swal.fire({
                icon: 'warning',
                title: 'Attenzione',
                text: "Non hai aggiunto ancora nessun libro",
            }).then(result => {
                //Redirect to dashboard
                window.history.back();
            })
    </script>
}

<!--x style-->
<style>
    .deleteButton {
        font-size: 18px;
        margin-right: 20px;
        color: white;
        background-color: #FF7474;
        border: none;
        outline: none;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        text-align: center;
        box-sizing:border-box;
        padding:0;
    }
        .deleteButton:hover {
            cursor: pointer;
            background-color: #FF4E4E;
        }
</style>
<!--Delete script-->
<script>
    function deleteBook(id) {
        Swal.fire({
            icon: 'warning',
            title: 'Attenzione',
            text: "Sei sicuro di voler eliminare questo libro?",
            showCancelButton: true,
            confirmButtonText: 'Elimina',
            cancelButtonText: 'Annulla',
            confirmButtonColor: '#FF7474'
        }).then((result) => {
            if (result.value) {
                //Delete action
                document.getElementById("bookToDeleteId").value = id;
                $("form").submit();
            }
               
        })
    }
</script>